.navbar {
  position:absolute;
  z-index:1;
}
div.navbar ul {
	position:absolute;	
	top:20px;
    width:105%;
	list-style-type:none; 
	margin:0;
  padding: 0;
	background-color:none;
}
ul li {
	float: right;
}
li a {
    
	display:inline-block;
	color:white;
	background-color:none;
  font-family: 'Libre Baskerville', serif;
  text-decoration:none;
	font-size:16px;
    padding: 20px 15px;
	transition:0.8s ease;
}
li a:hover {
	background-color:lightblue;
}

div.navbar li a{
	  color:white;
	  background-color:none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-decoration:none;
    line-height: 40px;
	  font-size:18px;
    padding: 22px 20px;
    transition:0.8s ease;
}
div.navbar li a:hover {
    color:whitesmoke;
    text-decoration: none;
}
.searchbar {
    position: ab;
    left:0px;
    top:5px;
    width: 150px;
    height:60px;
    box-sizing:border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('http://www.clipartkid.com/images/775/search-icon-clip-art-at-clker-com-vector-clip-art-online-royalty-643l5L-clipart.png');
    background-position: 10px 10px;     
    background-size: 10%;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input.searchbar:focus {
    width: 17%;
}
ul li {
  list-style-type:none;
}
.icon {
    display:none;
}
@media (max-width:780px) {
    img.logo, .searchbar {
        display:none;
    }
    div.navbar ul li:not(:first-child) {
        display: none;
    }
    div.navbar {
        margin-bottom: 0;
    }
    div.navbar ul{
        width: 70%;
    }
    div.navbar a.icon {
       float: right;
       display: block;
        color: white;
        font-size: 25px;
    }
    div.navbar li a {
      padding:0px;
    }
    
}