div.section2 {
    position:relative;
    top:1000px;
    margin-top: 200px;  
}
div.section3 {
    position:relative;
    top:1100px;
    display: table;
    height: 100%;
    width:100%;
}
div.section35 {
    position:relative;
    top:1100px;
    height:25%;
    background-color:whitesmoke;
    box-sizing: border-box;
} 
div.section4 {
    position:relative;
    top:1300px;
  
}
div.section5 {
    position:relative;
    top:1800px;
	background: url(images/se.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height: 750px;
	padding: 5em 0;
    color:white;
}
div.section5 h1 {
    position: relative;
    top:70px;
    font-family: 'Sansita', sans-serif;
    font-size: 50px;
}
div.section6 {
  position:relative;
  top:1800px;

}


