img.logo { 
    position:absolute;
    top:10px;
    left:48%;
    width:7%;
    padding-bottom:20px;
    z-index: 2;
}
.navbar {
  position:absolute;
}
div.navbar ul {
	position:absolute;		
	top:29px;
   right:100px;
	width:100%;
	list-style-type:none; 
	margin:0;
  padding: 0;
	background-color:none;
}
ul li {
	float: right;
}
li a {
	color:black;
	background-color:none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
   text-decoration:none;
	font-size:18px;
    padding: 22px 17px;
    transition:0.8s ease;
}
li a:hover {
    color:lightgray;
    text-decoration: none;
}
.icon {
    display:none;
}
.searchbar {
    position: relative;
    left:320px;
    width: 130px;
    box-sizing:border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('http://www.clipartkid.com/images/775/search-icon-clip-art-at-clker-com-vector-clip-art-online-royalty-643l5L-clipart.png');
    background-position: 10px 10px;     
    background-size: 10%;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 17%;
}
.icon {
    display:none;
}
@media (max-width:960px) {
   img.logo, .searchbar {
        display:none;
    }
    div.navbar ul li:not(:first-child) {
        display: none;
    }
    div.navbar {
        margin-bottom: 0;
    }
    div.navbar ul{
        width: 70%;
    }
    div.navbar a.icon {
       float: right;
       display: block;
        color: black;
        font-size: 25px;
    }
    div.navbar li a {
      padding:0px;
    }
    
}
}
